img {
    width: 200px;
    border-style: inset;
}
body {
    text-align: center;
    color: white;
    font-family: "arial";
   
    background-position: center;
}
html {
    background: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-199655.png")no-repeat center center fixed;
    -webkit-background-size: cover;
  background-size: cover;
}
   